/* Aplicar una fuente global */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #f4f7f6;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    width: 100%;
    max-width: 400px;
}

.formulario {
    background-color: #ffffff;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    width: 100%;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 1.75em;
    color: #333;
}

label {
    font-weight: bold;
    margin-bottom: 8px;
    display: block;
    color: #555;
}

input[type="number"],
input[type="text"],
select {
    width: 100%;
    padding: 12px 15px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 1em;
    background-color: #f9f9f9;
    color: #333;
}

input[type="submit"] {
    width: 100%;
    padding: 12px 15px;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

.resultado {
    margin-top: 20px;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    text-align: center;
    color: #333;
    font-size: 1.2em;
    font-weight: bold;
}

@media (max-width: 480px) {
    .container {
        padding: 20px;
    }

    h2 {
        font-size: 1.5em;
    }

    input[type="submit"] {
        font-size: 0.9em;
    }

    .resultado {
        font-size: 1.1em;
    }
}
